<!DOCTYPE html>
<html>

<head>
    <%- include('../partial/head.ejs') %>
</head>

<body>
    <div class="container text-center">
        <div class="page-header text-center">
            <h1><span class="fa fa-anchor"></span> Kortų katalogas</h1>
        </div>
        <% if (role === "Administrator") { %>
            <button type="button" class="btn btn-success" onclick="location.href ='/cards/create/'">Idėti naują kortą</button>

            <% } %>

    </div>
    <h1>
    </h1>
    <div class="container p-3 my-3">
        <div class="row">
            <% cards.forEach(function(card) {%>
                <div class="col-md-4">

                    <div class="card md-4 shadow-sm">
                        <img class="card-img-top" src="<%= card.imageUrl %>" width="auto" height="255" preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
                        <div class="card-body">
                            <h3 class="card-text">
                                <%= card.name %>
                            </h3>
                            <p class="card-text">
                                <%= card.author %>
                            </p>

                            <button type="button" class="btn btn-success" onclick="location.href ='/cards/show/<%= card.id%>'">Komentuoti</button>
                            <% if (role === "Administrator") { %>
                                <button type="button" class="btn btn-success" onclick="location.href ='/cards/edit/<%= card.id%>'">Redaguoti</button>
                                <% } %>
                        </div>
                    </div>
                </div>

                <% }) %>
        </div>
        <hr class="my-4">
    </div>

</body>

</html>
<!--
      <h1>Kortų Sąrašas</h1>

      <h3><a href="/cards/create">Create new card</a></h3>
      <h1>Cards List</h1>
      <% if(cards && cards.length>0) { %>
      <table>
        <thead>
          <tr>
            <th>Card Name</th>
            <th>Image Url</th>
            <th>Author</th>
            <th>Number</th>
            <th>Ištrinti kortą</th>
	    <th>Redaguoti kortą</th>
          </tr>
        </thead>
        <tbody>

          <% for(var i=0; i<cards.length;i++) { %>
            <tr>

              <td><%= cards[i].name%></td>
              <td><%= cards[i].imageUrl%></td>
              <td><%= cards[i].author%></td>
              <td><%= cards[i].number%></td>
              <td><a href="/cards/remove/<%=cards[i]._id%>" onclick="return confirm('Ar tikrai norite ištrinti šią kortą');">Remove Card</a> </td>
              <td><a href="/cards/edit/<%=cards[i]._id%>">Edit Card</a> </td>
            </tr>
          <% } %>
        </tbody>
      </table>
      <% } else { %>
        <div>No Cards found.</div>
      <% } %>
      --!>